<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c87b81">  <td>19/07/22 15:41:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PersonaltabTestcase.setup()[pri:0, instance:com.westpac.qa.Tescases.PersonaltabTestcase@754ba872]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@540642172</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>19/07/22 15:41:47</td>   <td>27863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonaltabTestcase.enterdatatosavingcalc(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.westpac.qa.Tescases.PersonaltabTestcase@754ba872]">enterdatatosavingcalc</td> 
  <td>main@540642172</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>19/07/22 15:42:26</td>   <td>66608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PersonaltabTestcase.teardown()[pri:0, instance:com.westpac.qa.Tescases.PersonaltabTestcase@754ba872]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@540642172</td>   <td></td> </tr>
</table>
